body{
    background-image: url("balpanel_hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    transition: .8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#LogoDiv{
    width: 35%;
    height: auto;
    display: block;
    margin: auto 37%;
    margin-top: -2.3%;
}
#Logo{
    position: sticky;
    width: 100%;
    z-index: 100;
}

#jatekter{
    margin-top: -3.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30%;
}
#balpanel{
    width: 30%;
    /*background-image: url("balpanel_hatter.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.55);
}
#kartyabox{
    margin: 2% 2% 0 2%;
    height: 14.7vw;
    border-bottom: 2px solid white;
    transition: .8s;
}
#kartyabox img{
    margin: 2%;
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .8s;
}
#KartyabBoxKepHover:hover{
    height: 100%;
}
#pontokbox{
    margin: .5%;
    height: 10vw;
    display: flex;
    flex-direction: column;
}
.PontokSorDiv{
    margin-top: 5px;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.PontokDiv{
    margin: 10px;
    border-radius: 50%;
    height: 10%;
    width: 8%;
    transition: .8s;
}
.PontokDiv img{
    width: 100%;
}
#tabla{
    width: 50%;
    background-image: url("tabla_hatter.jpg");
    background-size: cover;
    border: 1px solid white;
    height: 32.1vw;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}
#korokbox{
    width: 20%;
    height: auto;
    background-size: cover;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.55);
}
#KorokSorDiv{
    display: flex;
    flex-direction: column;
    margin: 0 8px 0 8px;
    height: 100%;
    transition: .8s;
}
.KorokDivek{
    margin: auto auto;
    height: 8vw;
    border: 2px solid darkgray;
    color: darkgray;
    width: 85%;
    border-radius: 30px;
    transition: .8s;
    background-color: rgba(59, 59, 59, 0.5);
    transition: .8s;
}
.KorokDivek p{
    margin-top: 19%;
    text-align: center;
    font-size: 1.5vw;
}
.KoredikErtek{
    color: red;
    border: 3px solid red;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.VKoredik{
    color: lime;
    border: 3px solid lime;
    background-color: rgba(32, 49, 29, 0.5);
    border-radius: 30px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sordiv{
    display: flex;
    flex-direction: row;
}
.oszlopdiv{
    border: 1px solid white;
    height: 5.3vw;
    width: 11.5%;
    margin: 5px;
    border-radius: 5px;
    margin: .5vw auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    z-index: 150;
}
.oszlopdiv img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#kijelolve{
    border: 2px solid rgb(251, 255, 0);
}
#KozosDiv{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
#KivalasztoDiv{
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    width: 9.5%;
    border: 2px solid white;
    border-style: ridge;
}
#KivalasztoDiv img{
    height: 10vw;
    width: 100%;
}
#OtosLapok{
    margin-right: 10.7%;
    margin-left: 10%;
    height: 10vw;
    width: 9%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;

}
.LapDivek{
    height: 7vw;
    width: 75%;
    margin: auto;
    border: 1px solid white;
    background-color: rgb(61, 61, 61, 0.6);
    border-radius: 5px;
}
.LapDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#VarDiv{
    width: 50%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 10.5vw;
}
.VarakKiGensor{
    display: flex;
}
.KiGenVarDivek{
    height: 4vw;
    width: 8%;
    margin: 1.2% auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(61, 61, 61, 0.6);
    transition: .8s;
}
.KiGenVarDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: .8s;
}
#PassDiv{
    margin: 1.5vw auto;
    height: 4vw;
    border: 2px solid white;
    width: 70%;
    border-radius: 15px;
    transition: .8s;
    background-color: rgba(0, 0, 0, 0.5);
}
#SotetitoDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
#KozDiv{
    /*margin-top: 10%;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
#JatekVegeterFelIrat h1{
    margin: 2vw;
    background: linear-gradient(130deg, red, rgb(0, 83, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
}
#PontSzamKiiras h3{
    margin: 2vw;
    background: linear-gradient(130deg, red, rgb(0, 83, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw;
    transition: .8s;
}
#PontSzam p{
    margin: 2vw;
    background: linear-gradient(130deg, red, rgb(0, 83, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
    transition: .8s;
}
#KozosGombDiv{
    height: 5vw;
    display: flex;
    flex-direction: row;
}
#UjraKezdes{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: auto;
    height: 5vw;
    width: 30%;
    transition: .8s;
    cursor: pointer;
}
#UjraKezdes p{
    margin-top: 11%;
    color: white;
    font-size: x-large;
}
#UjraKezdes:hover{
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}