body{
    background-color: rgb(32, 32, 32);
    color: white;
    transition: .8;
}

#jatekter{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30%;
}
#balpanel{
    width: 30%;
    background-image: url("balpanel_hatter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: 1px solid black;
}
#kartyabox{
    margin: 2%;
    height: 14vw;
    border-bottom: 2px solid white;
}
#kartyabox img{
    height: 14vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .8s;
}
#pontokbox{
    border-top: 2px solid white;
    margin: 2%;
    height: 14.7vw;
}
#tabla{
    width: 50%;
    background-image: url("tabla_hatter.jpg");
    background-size: cover;
    border: 1px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}
#korokbox{
    width: 20%;
    height: auto;
    background-image: url("balpanel_hatter.jpg");
    background-size: cover;
    border: 1px solid black;
}
.sordiv{
    display: flex;
    flex-direction: row;
    height: 6vw;
}
.oszlopdiv{
    border: 1px solid white;
    width: 11.5%;
    margin: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.oszlopdiv img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#kijelolve{
    border: 2px solid rgb(251, 255, 0);
}
#KozosDiv{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
#KivalasztoDiv{
    height: 12vw;
    background-color: rgb(61, 61, 61);
    width: 11.5%;
    border: 2px solid white;
    border-radius: 5px;
    border-style: ridge;
}
#KivalasztoDiv img{
    height: 12vw;
    width: 100%;
    border-radius: 5px;
}
#KartyabBoxKepHover:hover{
    height: 15vw;
}
#OtosLapok{
    height: 8.5vw;
    width: 40%;
    border: 2px solid white;
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
    display: flex;

}
.LapDivek{
    height: 7vw;
    width: 17%;
    margin: auto;
    border: 1px solid white;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}
.LapDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#VarDiv{
    width: 35%;
    border: 2px solid white;
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
}
.VarakKiGensor{
    display: flex;
}
.KiGenVarDivek{
    height: 5vw;
    width: 15%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
}
.KiGenVarDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}