body{
    background-image: url("balpanel_hatter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    transition: .8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#LogoDiv{
    width: 35%;
    height: auto;
    display: block;
    margin: auto 37%;
    margin-top: -2.3%;
}
#Logo{
    position: sticky;
    width: 100%;
    z-index: 100;
}

#jatekter{
    margin-top: -3.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30%;
}
#balpanel{
    width: 30%;
    /*background-image: url("balpanel_hatter.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.55);
}
#kartyabox{
    margin: 2% 2% 0 2%;
    height: 14.7vw;
    border-bottom: 2px solid white;
}
#kartyabox img{
    margin: 2%;
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .8s;
}
#KartyabBoxKepHover:hover{
    height: 100%;
}
#pontokbox{
    margin: .5%;
    height: 10vw;
    display: flex;
    flex-direction: column;
}
.PontokSorDiv{;
    margin-top: 5px;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.PontokDiv{
    margin: 10px;
    border-radius: 50%;
    height: 10%;
    width: 8%;
}
.PontokDiv img{
    width: 100%;
}
#tabla{
    width: 50%;
    background-image: url("tabla_hatter.jpg");
    background-size: cover;
    border: 1px solid white;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}
#korokbox{
    width: 20%;
    height: auto;
    /*background-image: url("balpanel_hatter.jpg");*/
    background-size: cover;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.55);
}
#KorokSorDiv{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
    margin: 0 8px 0 8px;
}
.KorokDivek{
    margin: 1vw auto;
    height: 6vw;
    border: 2px solid white;
    width: 70%;
    border-radius: 15px;
    transition: .8s;
    background-color: rgba(0, 0, 0, 0.5);
}
.KorokDivek p{
    margin-top: 15%;
    text-align: center;
    font-size: 1.5vw;
}
.KoredikErtek{
    color: red;
}
.sordiv{
    display: flex;
    flex-direction: row;
}
.oszlopdiv{
    border: 1px solid white;
    height: 5.3vw;
    width: 11.5%;
    margin: 5px;
    border-radius: 5px;
    margin: .5vw auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    z-index: 150;
}
.oszlopdiv img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#kijelolve{
    border: 2px solid rgb(251, 255, 0);
}
#KozosDiv{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
#KivalasztoDiv{
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    width: 9.5%;
    border: 2px solid white;
    border-style: ridge;
}
#KivalasztoDiv img{
    height: 10vw;
    width: 100%;
}
#OtosLapok{
    margin-right: 10.7%;
    margin-left: 10%;
    height: 10vw;
    width: 9%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;

}
.LapDivek{
    height: 7vw;
    width: 75%;
    margin: auto;
    border: 1px solid white;
    background-color: rgb(61, 61, 61, 0.6);
    border-radius: 5px;
}
.LapDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#VarDiv{
    width: 35%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
}
.VarakKiGensor{
    display: flex;
}
.KiGenVarDivek{
    height: 4vw;
    width: 12%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(61, 61, 61, 0.6);
}
.KiGenVarDivek img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#PassDiv{
    margin: 1.5vw auto;
    height: 4vw;
    border: 2px solid white;
    width: 70%;
    border-radius: 15px;
    transition: .8s;
    background-color: rgba(0, 0, 0, 0.5);
}
#PassDiv p{
    margin-top: 8%;
    text-align: center;
    font-size: 1.5vw;
}